{% extends "layouts/base.html" %}

{% block title %} 농지정보 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">농지정보</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
{#                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>#}
                            <li class="breadcrumb-item"><a href="javascript:">농지정보</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>농지정보</h5>
                            </div>
                            <div class="card-body">
                                <h5>현재 입력된 농지정보</h5>
                                <h6>"수정하시려면 아래 입력창에 신규 정보 입력후 저장버튼을 누르세요"</h6>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label for="crop" class="form-label">작물</label>
                                                <input type="text" class="form-control" id="crop" aria-describedby="emailHelp" placeholder="사과나무(홍옥)" value="{{work.crop}}">
{#                                                <small id="emailHelp" class="form-text text-muted">이런 작은 글씨로도 여기에 넣을 수 있음</small>#}
                                            </div>
                                            <div class="form-group">
                                                <label for="count">작물수</label>
                                                <input type="text" class="form-control" id="count" placeholder="413그루" value="{{work.count}}">
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" id="check">
                                                <label class="form-check-label" for="check">수정 사항에 이상이 없습니다.</label>
                                            </div>
                                            <button id="submit" type="button" class="btn btn-primary" onclick="save()">저장</button>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label>수령</label>
                                                <input type="text" id="year" class="form-control" placeholder="4년" value="{{work.year}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recent">최근 병해충</label>
                                                <select class="form-control" id="recent">
                                                    <option selected>없음</option>
                                                    <option>방색 우한 풍뎅이</option>
                                                    <option>장지리 가지나방</option>
                                                    <option>사과독 나방</option>
                                                    <option>콩독나방</option>
                                                    <option>선녀벌레</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="others">기타 특이사항</label>
                                                <textarea class="form-control" id="others" rows="3">{{work.year}}</textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        {% if work %}
            $("#recent").val("{{work.recent}}").attr("selected", "selected");
        {% endif %}
    });

    function save(){
        var check = document.getElementById('check').checked;

        if(check){
            var form = {
                crop : document.getElementById("crop").value,
                year : document.getElementById("year").value,
                count : document.getElementById("count").value,
                recent : document.getElementById("recent").value,
                others : document.getElementById("others").value
            };
            $.ajax({
                    type: 'POST',
                    url: '/farmsave/{{id}}/',	// form을 전송할 실제 파일경로
                    data: form,
                    timeout: 600000,
                    beforeSend : function() {
                        // 전송 전 실행 코드
                    },
                    success: function (data) {
                        // 전송 후 성공 시 실행 코드
                        console.log(data);
                        alert('농지정보가 수정되었습니다.');
                        window.location.href = '/job-list.html';
                    },
                    error: function (e) {
                        // 전송 후 에러 발생 시 실행 코드
                        console.log("ERROR : ", e);
                    }
            });
        }
    }
</script>
{% endblock javascripts %}
