{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!--[ 날짜영역 ] start-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4">DATE</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0" id="now"><i class="feather icon-calendar text-c-green f-30 m-r-10"></i>2021년 09월 28일 18:00</h3>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ 날짜 영역 ] end-->
                    <!--[ 농가 정보 ] starts-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">농가 정보</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-7">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-circle text-c-red f-30 m-r-10"></i>(주)사과농장</h3>
                                    </div>
                                    <div class="col-5 text-right">
                                        <p class="m-b-0">010-1111-1111</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 100%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ 농가 정보 ] end-->
                    <!--[ 작업자 정보 ] starts-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">작업 담당자</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-at-sign text-c-green f-30 m-r-10"></i>유용운(010-2977-2827)</h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">616636</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ 작업자 정보 ] end-->
                    <!--[ 농지 정보 ] start-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>농지 정보</h5>
                                <span class="d-block m-t-5">지금 작업하는 곳은? </span>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><i class="feather icon-feather text-c-green f-40 m-r-10"></td>
                                                <td>
                                                    <h3 class="mb-1">작물: 사과나무</h3>
                                                </td>
                                            </tr>
                                            <tr class="unread">
                                                <td><i class="feather icon-feather text-c-green f-40 m-r-10"></td>
                                                <td>
                                                    <h3 class="mb-1">수령: 10년</h3>
                                                </td>
                                            </tr>
                                            <tr class="unread">
                                                <td><i class="feather icon-feather text-c-green f-40 m-r-10"></td>
                                                <td>
                                                    <h3 class="mb-1">작물 수: 20</h3>
                                                </td>
                                            </tr>
                                            <tr class="unread">
                                                <td><i class="feather icon-feather text-c-green f-40 m-r-10"></td>
                                                <td>
                                                    <h3 class="mb-1">최근 병해충: 없음</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ 농지 정보 ] end-->

                    <!-- [ 지도 정보 ] start -->
                    <div class="col-lg-8 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>지도: 현제 작업의 <code>위치</code></h5>
                            </div>
                            <div class="card-block">
                                <div id="map" class="set-map" style="height:310px;">

                                    <script>
                                        var container = document.getElementById('map');
                                        var options = {
                                            center: new kakao.maps.LatLng(35.893684953438736, 128.61327796269993),
                                            level: 4
                                        }   ;

                                        var map = new kakao.maps.Map(container, options);

                                        // 마커가 표시될 위치입니다
                                        var markerPosition  = new kakao.maps.LatLng(35.893684953438736, 128.61327796269993);

                                        // 마커를 생성합니다
                                        var marker = new kakao.maps.Marker({
                                            position: markerPosition
                                        });
                                        marker.setMap(map);

                                        var geocoder = new kakao.maps.services.Geocoder();
                                        function searchDetailAddrFromCoords(lat, lng, callback) {
                                            // 좌표로 법정동 상세 주소 정보를 요청합니다
                                            geocoder.coord2Address(lng, lat, callback);
                                        }
                                        searchDetailAddrFromCoords(35.893684953438736, 128.61327796269993, function(result, status) {
                                            if (status === kakao.maps.services.Status.OK) {
                                                // 위치 대한 법정동 상세 주소정보를 표시합니다
                                                document.getElementById("address").innerHTML = result[0].address.address_name;
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ 지도 정보 ] start -->
                    <!--[온습도] start-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                       <i class="feather icon-thermometer text-c-red f-36 m-r-10"></i>
                                    </div>
                                    <div class="col text">
                                        <h3>날씨</h3>
                                        <h6 class="text-c-green mb-0">오늘의 <span class="text-muted">날씨</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h5 class="text-center m-b-10" id="temp"><span class="text-muted m-r-5">기온:</span>27.5℃</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width:27.5%;height:6px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-center  m-b-10" id="rh"><span class="text-muted m-r-5">습도:</span>55%</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme2" role="progressbar" style="width:55%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <i class="feather icon-maximize text-c-brown f-36 m-r-10"></i>
                                    </div>
                                    <div class="col text">
                                        <h3>지적</h3>
                                        <h6 class="text-c-purple mb-0">땅의 <span class="text-muted">행정 정보</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h5 class="text-center m-b-10"><span class="text-muted m-r-5">면적(m²):</span>999m²</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-green" role="progressbar" style="width:100%;height:6px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-center  m-b-10"><span class="text-muted m-r-5">면적(평):</span>300평</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-blue" role="progressbar" style="width:100%;height:6px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <i class="feather icon-map-pin text-c-blue f-36 m-r-10"></i>
                                    </div>
                                    <div class="col text">
                                        <h3>위치정보</h3>
                                        <h6 class="text-c-blue mb-0">우편번호 <span class="text-muted">(41544)</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-12">
                                        <h5 class="text-center m-b-10" id="address"><span class="text-muted m-r-5">대구광역시 </span>산격3동 1370-1</h5>
                                            <h6 class="text-center m-b-10">35.892714, 128.614201</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[social-media section] end-->
                </div>
                <div class=".fixed-button active" >
                    <button id="btn" onclick='onBtnClick()' target="_blank" class="btn btn-md btn-primary">
                        <i class="fa fa-rocket" aria-hidden="false"></i> 작업 시작
                    </button>
                    <button id='stop' onclick="onBtnStop()" target="_blank" class="btn btn-md btn-danger">
                        <i class="fa fa-rocket" aria-hidden="false"></i> 작업 중지
                    </button>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
    function onBtnClick(){
        const btnElement  = document.getElementById('btn');
        const btnStop  = document.getElementById('stop');
        {#btnElement.innerHTML = '<i class="fa fa-rocket" aria-hidden="false"></i> 작업중....';#}
        {#btnStop.innerHTML = '<i class="fa fa-rocket" aria-hidden="false"></i> 작업 중지';#}
        alert('작업을 시작합니다.')
        location.href="/job-control.html";
    }
    function onBtnStop(){
        const btnStop  = document.getElementById('stop');
        const btnElement  = document.getElementById('btn');
        btnElement.innerHTML = '<i class="fa fa-rocket" aria-hidden="false"></i> 작업 시작';
        btnStop.innerHTML = '<i class="fa fa-rocket" aria-hidden="false"></i> 중지됨';
        alert('작업을 중지합니다.')
    }
    function time(){
        var time= new Date(); //시간받기위해서 new date
        document.getElementById("now").innerHTML='<i class="feather icon-calendar text-c-green f-30 m-r-10"></i>'+time.getFullYear()+"년 "+(time.getMonth()+1)+"월 "+time.getDate()+"일 "+time.getHours()+":"+time.getMinutes();
        setInterval("time()",1000);     //1초 지난후 time()실행
    }
    time();
    function getWeather(lat, lon) {
        fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=&units=metric`)
        .then(res => res.json())
        .then(data => {
            const temp = data.main.temp;
            const rh =  data.main.humidity;
            const weathers = data.weather[data.weather.length -1];
            document.getElementById("temp").innerHTML = `<span class="text-muted m-r-5">기온:</span> ${temp}&#176;C ${weathers.main}`;
            document.getElementById("rh").innerHTML = `<span class="text-muted m-r-5">습도:</span> ${rh}&#176;%`;
        })
    }
    getWeather(35.893684953438736, 128.61327796269993);
    </script>
{% endblock javascripts %}