{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Job-list</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">작업 내역</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Sam-I(prototype)</h5>
                                <span class="d-block m-t-5">담당자(유용운): 010-2222-2222</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="td">
                                        <thead>
                                            <tr>
                                                <th>작업번호</th>
                                                <th>NFC 식별자</th>
                                                <th>작업시간</th>
                                                <th>작업 위치</th>
                                                <th>작업자</th>
                                                <th>수정/삭제</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if work_list %}
                                            <script>
                                            function AddrFromCoords(lat, lng, callback) {
                                                var geocoder = new kakao.maps.services.Geocoder();
                                                // 좌표로 법정동 상세 주소 정보를 요청합니다
                                                geocoder.coord2Address(lng, lat, callback);
                                            }
                                            </script>
                                            {% for Work in work_list %}
                                            <tr>
                                                <th scope="row">{{ Work.id }}</th>
                                                <td>{{ Work.uid }}</td>
                                                <td>{{ Work.workTime }}</td>
                                                <td id="{{Work.id}}">
                                                    <script>
                                                    AddrFromCoords({{ Work.lat }}, {{ Work.lng }}, function(result, status) {
                                                        if (status === kakao.maps.services.Status.OK) {
                                                            document.getElementById("{{Work.id}}").innerText = result[0].address.address_name;
                                                        }
                                                    });
                                                    </script>
                                                </td>
                                                <td>{{ Work.worker.username }}</td>
                                                <td>
                                                    <button class="btn btn-info dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">변경</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/{{Work.id}}/maps-google.html">위치 수정</a>
                                                        <a class="dropdown-item" href="/{{Work.id}}/farmland-info.html">농지 수정</a>
                                                        <a class="dropdown-item" onclick="onDeleteBtn({{Work.id}})">삭제</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <th scope="row">작업 내역이 없습니다. 작업 실시 후 다시 조회해 주세요.</th>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function onEditBtn(id){
        window.location.href = '/'+id+'/maps-google.html';
        //console.log('/'+id+'/maps.google.html');
    }
    function onDeleteBtn(id){
        $.ajax({
            type: 'POST',
            url: '/delete/'+id+'/',	// form을 전송할 실제 파일경로
            data: {},
            timeout: 600000,
            beforeSend : function() {
                // 전송 전 실행 코드
            },
            success: function (data) {
                // 전송 후 성공 시 실행 코드
                console.log(data);
                alert('작업정보가 삭제되었습니다.');
            },
            error: function (e) {
                // 전송 후 에러 발생 시 실행 코드
                console.log("ERROR : ", e);
            }
        });
    }
</script>
{% endblock javascripts %}
