{% extends "layouts/base.html" %}

{% block title %} Job Control {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Job Control</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">작업 제어</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">제어</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ badge ] start -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>작업 기록</h5>
                            </div>
                            <div class="card-body">
                                    <textarea readonly class="form-control" id="received-data" rows="24"></textarea>
                            </div>
                        </div>
                        <div class=".fixed-button active" >
                            <button id="stopbtn"  target="_blank" class="btn btn-md btn-danger float-right">
                                <i class="fa fa-rocket" aria-hidden="false"></i> 긴급 정지
                            </button>
                            <button id='startbtn' target="_blank" class="btn btn-md btn-primary float-right" value="du">
                                <i class="fa fa-rocket" aria-hidden="false"></i> 작업 시작
                            </button>
                            <button id='testbtn' target="_blank" class="btn btn-md btn-primary float-right" value="du">
                                <i class="fa fa-rocket" aria-hidden="false"></i> 위아레 테스트
                            </button>
                            <button id='upbtn' target="_blank" class="btn btn-md btn-primary float-right" value="du">
                                <i class="fa fa-rocket" aria-hidden="false"></i> 위로 올리기
                            </button>
                            <button id='pushbtn' target="_blank" class="btn btn-md btn-primary float-right" value="du">
                                <i class="fa fa-rocket" aria-hidden="false"></i> 밀기 엑추에이터 동작
                            </button>
                            <button id='clear' target="_blank" class="btn btn-md btn-info float-right">
                                <i class="fa fa-rocket" aria-hidden="false"></i> 내용 지우기
                            </button>
                        </div>
                    </div>
                    <!-- [ badge ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/main.js"></script>
{% endblock javascripts %}
