{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">SAM_I 란</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">SAM_I 란</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>About Sem_I</h5>
                                </div>
                                <div class="card-block">
                                    <p style="font-size: 30px">
                                       SAM_I 란 "NFC 기반 농지정보 기록형 자동 토양시료 채취 포장기"를 줄여서 만든 프로젝트명으로, Soil sampler와 Information을 합쳐서 만든 명칭이다.<br>
                                        본 발명은 농지 토양성분 분석용 시료의 자동 채취 장치에 관한 것으로서, 더욱 상세하게는 시료 보관 장소를 포함한 케이스와 연결된 프레임의 이동장치에 전동 모터를 부착하여 운반을 돕고 채취 과정 내 시료의 포장과 시료 정보 기록에 부분적인 자동화 시스템을 도입함으로 채취 작업 시 작업시간을 단축시킴은 물론 노동력을 감소시킬 수 있도록 한 자동화 시스템이다.<br>
                                        가장 핵심적인 부분은 시료 저장 용기와 케이스에 NFC 태그 시스템과 GPS 모듈을 이용하여 작물 정보 및 채취 위치를 클라우드에 저장하여 관리하는 것이다. 기존의 지도를 이용하는 위치 정보 기록 방식과 수기로 시료 정보를 기록하는 작업을 자동화하여 작업에 필요한 노동량을 줄이고 정보 관리의 유용함을 가질 수 있다.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
