{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">농가정보</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">농가정보</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>(주)사과농장</h5>
                                <span class="d-block m-t-5">관리인(송도형): 010-2222-2222</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>년도</th>
                                                <th>작물</th>
                                                <th>수령</th>
                                                <th>작물수</th>
                                                <th>최근병해충</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">2017</th>
                                                <td>사과나무(홍옥)</td>
                                                <td>1년</td>
                                                <td>430그루</td>
                                                <td>없음</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2018</th>
                                                <td>사과나무(홍옥)</td>
                                                <td>2년</td>
                                                <td>423그루</td>
                                                <td>사과나무 애벌레</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2020</th>
                                                <td>사과나무(홍옥)</td>
                                                <td>3년</td>
                                                <td>420그루</td>
                                                <td>없음</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2021</th>
                                                <td>사과나무(홍옥)</td>
                                                <td>4년</td>
                                                <td>413그루</td>
                                                <td>사과나무 애벌레</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>(사)고향감</h5>
                                <span class="d-block m-t-5">담당자(김현우): 010-3333-3333</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>년도</th>
                                                <th>작물</th>
                                                <th>수령</th>
                                                <th>작물수</th>
                                                <th>최근병해충</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">2017</th>
                                                <td>감나무(홍옥)</td>
                                                <td>2년</td>
                                                <td>1204그루</td>
                                                <td>없음</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2018</th>
                                                <td>감나무(홍옥)</td>
                                                <td>3년</td>
                                                <td>1183그루</td>
                                                <td>없음</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2020</th>
                                                <td>감나무(홍옥)</td>
                                                <td>4년</td>
                                                <td>1024그루</td>
                                                <td>없음</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2021</th>
                                                <td>감나무(홍옥)</td>
                                                <td>5년</td>
                                                <td>1024그루</td>
                                                <td>없음</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->

                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>박수박</h5>
                                <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
