<!-- ------------------------------- [edit] -------------------------------- -->
{% extends 'base.html' %}
{% block content %}
<!-- ----------------------------------------------------------------------- -->
    <div class="container">
        <div class="row my-3">
            <div class="col-8">
                <h1>
                    6nights 자동시료체취기 메인화면
                </h1>
                <h2>
                    우리는 웹 화면을 간지나게 만들어줄 디자이너가 필요해요!
                    당신의 지원을 기다립니다.
                </h2>
                <p>
                    대충 식스나이츠 멋있다는 내용.
                </p>
            </div>
            <div id="map" class="col-4" style="height:50vh" >
               <script>
                  var container = document.getElementById('map');
                  var options = {
                      center: new kakao.maps.LatLng(35.8888, 128.6103),
                      level: 4
                  }   ;

                  var map = new kakao.maps.Map(container, options);
                  var markerPosition  = new kakao.maps.LatLng(35.8888, 128.6103);

                    // 마커를 생성합니다
                  var marker = new kakao.maps.Marker({
                      position: markerPosition
                  });

                  // 마커가 지도 위에 표시되도록 설정합니다
                  marker.setMap(map);

                </script>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------- [edit] -------------------------------- -->
{% endblock %}
<!-- ----------------------------------------------------------------------- -->
